* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TAGS */

body {
    background-color: #d9dcd6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* HEADER */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 #seo {
    color: #d9dcd6;
}

/*Applies to the 3 links in the header*/

.header #nav-links {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header a{
    display: inline-block;
    margin-left: 25px;
}

/*  Applies to the large image at the very top (under the header)*/

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* IMAGE FLOAT SETTINGS */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* MAIN PAGE BODY */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* SIDEBAR */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/*
There were previously 3 redundant benefit classes. I merged them all into a single class to clean it up. This element represents the list of 3 benefits in the sidebar and 
the accompanying image.
*/

.benefit-info{
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-info h3{
    margin-bottom: 10px;
    text-align:center;
}

.benefit-info img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/*I replaced the different IDs and classes of each individual block component, because they all had the same information, creating unnecessary clutter.
Now featured is the simple 'block' class, representing the 3 main blocks on the page. 
*/

.block{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

.block img {
    max-height: 200px;
}

.block h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* FOOTER */


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
